<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/index.html">Family Recipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dinner
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="./recipes/kahsa_varnishkes.html">Kasha Varnishkes</a>
                    <a class="dropdown-item" href="./recipes/spicy_peanut_ginger_noodles.html">Spicy Peanut Ginger Noodles</a>
                    <a class="dropdown-item" href="./recipes/israeli-salad.html">Israeli Salad</a>
                    <a class="dropdown-item" href="./recipes/sweet_potato_pecan_casserole.html">Sweet Potato Pecan Casserole</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dessert
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="./recipes/devils-food-cake.html">Grandma's Devil's Food Cake</a>
                    <a class="dropdown-item" href="./recipes/chocolate_blackout_cake.html">Chocolate Blackout Cake</a>
                    <a class="dropdown-item" href="./recipes/classic-jewish-sugar-cookies.html">Classic Jewish Sugar Cookies</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">All Recipes</a>
            </li>
        </ul>
    </div>
</nav>